<!DOCTYPE html>
<html>
<body>

<form action="/upload" method="post"  enctype='multipart/form-data'>
  PDF: <input type="file" name="pdf"><br>
 Select Semester <select name="sem">
  <option   value="sem1">1-1</option>
  <option value="sem2">1-2</option>
  <option value="sem3">2-1</option>
  <option value="sem4">2-2</option>
   <option value="sem5">3-1</option>
    <option value="sem6">3-2</option>
       <option value="sem7">4-1</option>
    <option value="sem8">4-2</option>
        <option value="supply">Supply</option>
</select><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>
