            <section class="row tabcontent" id="tab4">
          <form action="/delete_record" method="post" >
                           <div class="  col s12 m8 l8  offset-l2 offset-m2">
                              <div class="card-panel">
                                   <div class="divider"></div>
                                 <h5 class="header cyan-text center"> Clear Records</h5>
                                 <div class="divider"></div>
                                
                                 <p class="gradient-45deg-light-blue-cyan white-text center">NOTE* : If there is no use of a semster you can clear in this page</p>
                                 <table class="bordered">
                                <tr> <td>1-1 Records</td><td><button type="submit" value="1-1" class="btn delete">Clear</button></td></tr>
                                <tr> <td>1-2 Records</td><td>  <button type="submit" value="1-2" class="btn delete btn-default">Clear</button></td></tr>
                                <tr> <td>2-1 Records</td><td><button type="submit" value="2-1" class="btn  delete btn-primary">Clear</button></td></tr>
                                <tr> <td>2-2 Records</td><td><button type="submit" value="2-2" class="btn delete btn-success">Clear</button></td></tr>
                                <tr> <td>3-1 Records</td><td><button type="submit" value="3-1" class="btn delete btn-info">Clear</button><br></td></tr>
                                <tr> <td>3-2 Records</td><td><button type="submit" value="3-2" class="btn delete btn-warning">Clear</button></td></tr>
                                <tr> <td>4-1 Records</td><td><button type="submit" value="4-1" class="btn delete btn-info">Clear</button><br></td></tr>
                                <tr> <td>4-2 Records</td><td><button type="submit" value="4-2" class="btn delete btn-link">Clear</button> </td></tr>
                                <tr> <td>supply Records</td><td><button type="submit" value="supply" class="btn delete btn-link">Clear</button></td></tr>
                                 </table>
                            
                             
                                   
                                   
                                      
                                     
                               </div></div>
  </form>
                 </section>