            <section class="row tabcontent" id="tab4">
          <form action="/delete_record" method="post" >
                           <div class="  col s12 m8 l8  offset-l2 offset-m2">
                              <div class="card-panel">
                                 <h4 class="header center">Clear Record</h4>
                                 <p class="gradient-45deg-light-blue-cyan white-text center">NOTE* : If ther is no use of a semster you can clear in this page</p>
                                  <button type="submit" value="1-1" class="btn delete">sem1</button>
                                   <button type="submit" value="1-2" class="btn delete btn-default">Sem2</button>
                                   <button type="submit" value="2-1" class="btn  delete btn-primary">sem3</button>
                                   <button type="submit" value="2-2" class="btn delete btn-success">sem4</button>
                                   <button type="submit" value="3-1" class="btn delete btn-info">sem5</button>
                                   <button type="submit" value="3-2" class="btn delete btn-warning">sem6</button>
                                   <button type="submit" value="4-1" class="btn delete btn-danger">sem7</button>
                                   <button type="submit" value="4-2" class="btn delete btn-link">sem8</button>    
                                   <button type="submit" value="supply" class="btn delete btn-link">supply</button>  
                               </div></div>
  </form>
                 </section>