 <section class="row tabcontent" id="tab2" >
     <div class="container">
            <div class="section">
             <div id="work-collections">
              <div class="row">
                <div class="col s12 m12 l12">
                  <ul id="projects-collection" class="collection z-depth-1">
                    <li class="collection-item avatar">
                      <i class="material-icons grey circle">event_note</i>
                      <h6 class="collection-header m-0">Exam Schedules</h6>
                      <p> Acadamic </p>
                    </li>
                     <% schedule.forEach(function(schedule) { %> 
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s6">
                          <p class="collections-title"><%= schedule.semester %>  Semester <%= schedule.examtype %> Schedule</p>
                          <p class="collections-content"><%= schedule.Stream %></p>
                        </div>
                        <div class="col s6">
                        
                          <a href="<%= schedule.file %>" class="waves-effect waves-light animated infinite pulse  btn gradient-45deg-light-blue-cyan box-shadow-none border-round mr-1">download</a>
                        </div>
              
                      </div>
                    </li>
                       <% }); %> 


                  </ul>
                </div>

              </div>
            </div>
</div></div>
</section>