      <footer class="page-footer ">
         <div class="page-footer gradient-45deg-purple-light-blue">
            <div class="footer-copyright">
               <div class="container">
                  <span>
                     Copyright ©
                     <script type="text/javascript">
                        document.write(new Date().getFullYear());
                     </script> <a class="grey-text text-lighten-2" href="http://themeforest.net/user/Exam Portal/portfolio?ref=Exam Portal" target="_blank">Exam Portal</a> All rights reserved.
                  </span>
                  <span class="right hide-on-small-only"> Design and Developed by <a class="grey-text text-lighten-2" href="https://Exam Portal.com/">Exam Portal</a></span>
               </div>
            </div>
         </div>
      </footer>