      <footer class="page-footer ">
         <div class="page-footer gradient-45deg-purple-light-blue">
            <div class="footer-copyright">
               <div class="container">
                  <span>
                     Copyright ©
                     <script type="text/javascript">
                        document.write(new Date().getFullYear());
                     </script> Exam Portal  All rights reserved.
                  </span>
                  <span class="right hide-on-small-only"> Design and Developed by Crazy Squad</span>
               </div>
            </div>
         </div>
      </footer>