<!DOCTYPE html>
<html lang="en">

     <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="msapplication-tap-highlight" content="no">
     
      <title>Exam  Portal</title>
      <!-- Favicons-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">
      <link rel="icon" href="https://www.vanhool.be/assets/images/logo-autocars-ex.png" sizes="32x32">
      <!-- Favicons-->
      <link rel="apple-touch-icon-precomposed" href="https://www.vanhool.be/assets/images/logo-autocars-ex.png">
      <!-- For iPhone -->
      <meta name="msapplication-TileColor" content="#00bcd4">
      <meta name="msapplication-TileImage" content="https://www.vanhool.be/assets/images/logo-autocars-ex.png">
      <!-- For Windows Phone -->
      <!-- CORE CSS-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="../css/themes/fixed-menu/materialize.css" type="text/css" rel="stylesheet">
      <link href="../css/themes/fixed-menu/style.css" type="text/css" rel="stylesheet">
      <!-- Custome CSS-->
      <link href="../css/custom/custom.css" type="text/css" rel="stylesheet">
      <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
      <link href="../vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
      <link href="../vendors/jvectormap/jquery-jvectormap.css" type="text/css" rel="stylesheet">
      <link href="../vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
      <link href="../vendors/dropify/css/dropify.min.css" type="text/css" rel="stylesheet">
       
    <link href="../vendors/data-tables/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet">
  </head>
  <body class="layout-light">
    <!-- Start Page Loading 
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START HEADER -->
    <header id="header" class="page-topbar">
      <!-- start header nav-->
      <div class="navbar-fixed">
        <nav class="navbar-color">
          <div class="nav-wrapper">
            <ul>
              <li >
                <h1 class="logo-wrapper ">
                  <a  class=" center brand-logo darken-1">
                    <img src="https://www.vanhool.be/assets/images/logo-autocars-ex.png"  alt="materialize logo">
                  <span class="hide-on-med-and-down blue-text"> <span class="grey-text">Exam</span> Portal</span>
                  </a>
                </h1>
              </li>
            </ul>

          </div>
        </nav>
      </div>
      <!-- end header nav-->
    </header>
    <!-- END HEADER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
    <main>

          <div class="row">
                <div class="col s12 m12 offset-l2 l8">
                  <div class="card-panel">
                    <div class="gradient-45deg-indigo-light-blue padding-1  white-text center" ><h5>View  <%= Semester %> <%= Category %> Result here</h5></div>
                    <div class="row">
                      <form class="col s12" action="/myresult" method="post">
                              <div class="row hide ">
                          <div class="input-field col s12">
                            <input value="<%= Semester %>" name="Semester" type="text">
                            <label >Semester</label>
                          </div>
                        </div>
                        <div class="row hide ">
                          <div class="input-field col s12">
                            <input value="<%= Category %>" name="Category" type="text">
                            <label >Category</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <input name="ht_no" type="text">
                            <label for="first_name">Roll Number</label>
                          </div>
                        </div>

                          <div class="row center">
                            <div class="input-field col s12">
                              <button class="waves-effect getresult blue waves-light btn"  type="submit" name="action">Get Result
                               
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
          <div class="divider"></div> 
            <!-- Scaled in -->


      <!-- END WRAPPER -->
</main>


      <!-- jQuery Library -->
      <script type="text/javascript" src="../vendors/jquery-3.2.1.min.js"></script>
      <!--materialize js-->
      <script type="text/javascript" src="../js/materialize.min.js"></script>
      <!--scrollbar-->
      <script type="text/javascript" src="../vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
      <!-- chartjs -->
      <script type="text/javascript" src="../vendors/chartjs/chart.min.js"></script>
      <!-- sparkline -->
      <script type="text/javascript" src="../vendors/sparkline/jquery.sparkline.min.js"></script>
      <!-- google map api -->
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAZnaZBXLqNBRXjd-82km_NO7GUItyKek"></script>
      <!--jvectormap-->
      <script type="text/javascript" src="../vendors/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
      <script type="text/javascript" src="../vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
      <script type="text/javascript" src="../vendors/jvectormap/vectormap-script.js"></script>
      <!--google map-->
      <script type="text/javascript" src="../js/scripts/google-map-script.js"></script>
      <!--plugins.js - Some Specific JS codes for Plugin Settings-->
      <script type="text/javascript" src="../js/plugins.js"></script>
      <!--card-advanced.js - Page specific JS-->
      <script type="text/javascript" src="../js/scripts/dashboard-analytics.js"></script>
      <!--custom-script.js - Add your own theme custom JS-->
      <script type="text/javascript" src="../js/custom-script.js"></script>
      <script type="text/javascript" src="../js/scripts/advanced-ui-modals.js"></script>
  </body>
</html>