<!DOCTYPE html>
<html lang="en">

      <% include head %>
  <body class="layout-light">
    <!-- Start Page Loading 
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START HEADER -->
    <header id="header" class="page-topbar">
      <!-- start header nav-->
      <div class="navbar-fixed">
        <nav class="navbar-color">
          <div class="nav-wrapper">
            <ul>
              <li >
                <h1 class="logo-wrapper ">
                  <a  class=" center brand-logo darken-1">
                    <img src="https://www.vanhool.be/assets/images/logo-autocars-ex.png"  alt="materialize logo">
                  <span class="hide-on-med-and-down blue-text"> <span class="grey-text">Exam</span> Portal</span>
                  </a>
                </h1>
              </li>
            </ul>

          </div>
        </nav>
      </div>
      <!-- end header nav-->
    </header>
    <!-- END HEADER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
    <main>

          <div class="row">
                <div class="col s12 m12 offset-l2 l8">
                  <div class="card-panel">
                    <div class="gradient-45deg-indigo-light-blue padding-1  white-text center" ><h5>View  <%= Semester %> <%= Category %> Result here</h5></div>
                    <div class="row">
                      <form class="col s12" action="/myresult" method="post">
                              <div class="row hide ">
                          <div class="input-field col s12">
                            <input value="<%= Semester %>" name="Semester" type="text">
                            <label >Semester</label>
                          </div>
                        </div>
                        <div class="row hide ">
                          <div class="input-field col s12">
                            <input value="<%= Category %>" name="Category" type="text">
                            <label >Category</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <input name="ht_no" type="text">
                            <label for="first_name">Roll Number</label>
                          </div>
                        </div>

                          <div class="row center">
                            <div class="input-field col s12">
                              <button class="waves-effect getresult blue waves-light btn"  type="submit" name="action">Get Result
                               
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
          <div class="divider"></div> 
            <!-- Scaled in -->


      <!-- END WRAPPER -->
</main>


    <!-- END MAIN -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
  
    <!-- END FOOTER -->
      <% include script %>
  </body>
</html>