

<!DOCTYPE html>
<html lang="en">
 <% include head %>
   <body >
  
      <header id="header" class="page-topbar">
         <!-- start header nav-->
         <div class="navbar-fixed">
            <nav class="navbar-color  gradient-45deg-light-blue-cyan ">
               <div class="nav-wrapper">
                  <ul class="left">
                     <li>
                        <h1 class="logo-wrapper">
                           <a  class="brand-logo darken-1">
                           <img src="https://www.vanhool.be/assets/images/logo-autocars-ex.png" alt="materialize logo" >
                           <span class="logo-text hide-on-med-and-down"> Exam portal</span>
                           </a>
                        </h1>
                     </li>
                  </ul>
        
               </div>
            </nav>
         </div>
         <!-- end header nav-->
      </header>
      <!-- END HEADER -->
      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START MAIN -->
      <div id="main">
         <!-- START WRAPPER -->
         <div class="wrapper">
            <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
              <% include sidebar %>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->
        
            <!-- START CONTENT -->
                 <main>
                <% include clear %>
                <% include status %>
                  <% include addurl %>
                <% include result %>
                <% include schedule %>
                <% include messages %>

               </main>
                 
          
        
               <!--end container-->
       
            <!-- END CONTENT -->
 
         </div>
         <!-- END WRAPPER -->
      </div>
      <!-- END MAIN -->
  
      <!-- START FOOTER -->
 <% include footer %>
     
 <% include script %>
 <% include modal %>

             </body></html>

