<!DOCTYPE html>
<html lang="en">

      <% include head %>
  <body class="layout-light">
    <!-- Start Page Loading 
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START HEADER -->
    <header id="header" class="page-topbar">
      <!-- start header nav-->
      <div class="navbar-fixed">
        <nav class="navbar-color">
          <div class="nav-wrapper">
            <ul class="left">
              <li>
                <h1 class="logo-wrapper">
                  <a  class="brand-logo darken-1">
                    <img src="https://cdn-1.us.xmsymphony.com/94011972e3b5577f54590f6ea794e4e4/contents/ckfinder/images/logos/xm_logo.png"  alt="materialize logo">
                    <span class="logo-text hide-on-med-and-down">Exam Portal</span>
                  </a>
                </h1>
              </li>
            </ul>

          </div>
        </nav>
      </div>
      <!-- end header nav-->
    </header>
    <!-- END HEADER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
    <div id="main">
      <!-- START WRAPPER -->
      <div class="wrapper">
        <!-- START LEFT SIDEBAR NAV-->
        <aside id="left-sidebar-nav">
          <ul id="slide-out" class="side-nav fixed leftside-navigation">

            <li>
              <a onclick="opentab(event, 'tab1')" id="defaultOpen" >
                <i class="material-icons">notifications</i>
                <span class="nav-text">Exam Updates</span>
              </a>
            </li>
            <li>
              <a onclick="opentab(event, 'tab2')"  >
                <i class="material-icons">event</i>
                <span class="nav-text">Exam scedules</span>
              </a>
            </li>
            <li>
              <a onclick="opentab(event, 'tab3')" >
                <i class="material-icons">widgets</i>
                <span class="nav-text">Technologies </span>
              </a>
            </li>
            <li>
              <a onclick="opentab(event, 'tab4')"  >
                <i class="material-icons">message</i>
                <span class="nav-text">Contact Us </span>
              </a>
            </li>
                   <li>
              <a onclick="opentab(event, 'tab5')"  >
                <i class="material-icons">explore</i>
                <span class="nav-text">Our projects </span>
              </a>
            </li>
          </ul>
           
           
          <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating green btn-medium waves-effect waves-light hide-on-large-only">
            <i class="material-icons">menu</i>
          </a>
        </aside>
        <!-- END LEFT SIDEBAR NAV-->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START CONTENT -->
        <section>
          <% include contact %>
          <div class="divider"></div>  
          <% include examschedules %>
          <div class="divider"></div>
          <% include tech %>
          <div class="divider"></div>    
          <% include examupdates %>
          <div class="divider"></div>
          <% include projects %>
          <div class="divider"></div>
         
        </section>
        <!-- END CONTENT -->
        <!-- //////////////////////////////////////////////////////////////////////////// -->

      </div>
      <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
      <% include footer %>
    <!-- END FOOTER -->
      <% include script %>
  </body>
</html>