
        <section class="row tabcontent" id="tab5">
          <div class="gradient-45deg-indigo-light-blue padding-1  white-text center" ><h5>Our Projects</h5></div>
                
          <div id="ecommerce-offer">
                <div class="row">
                  <div class="col s12 m3">
                    <div class="card gradient-shadow gradient-45deg-light-blue-cyan border-radius-3">
                      <div class="card-content center">
                        <img src="https://www.uapinc.com/wp-content/uploads/2015/02/tw1.png" class="width-40 border-round z-depth-5">
                        <h5 class="white-text lighten-4">Aditya Skills</h5>
                        <p class="white-text lighten-4">status :Work In progress</p>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m3">
                    <div class="card gradient-shadow gradient-45deg-red-pink border-radius-3">
                      <div class="card-content center">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Creative_Cloud.svg"  height="60px" class="width-40 border-round z-depth-5">
                        <h5 class="white-text lighten-4">College Chat</h5>
                        <p class="white-text lighten-4">Status---> Not Started</p>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m3">
                    <div class="card gradient-shadow gradient-45deg-amber-amber border-radius-3">
                      <div class="card-content center">
                        <img src="https://www.vanhool.be/assets/images/logo-autocars-ex.png" class="width-40 border-round z-depth-5">
                        <h5 class="white-text lighten-4">Exam Portal</h5>
                        <p class="white-text lighten-4">Status -->Released</p>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m3">
                    <div class="card gradient-shadow gradient-45deg-green-teal border-radius-3">
                      <div class="card-content center">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/Canadian_national_logo.svg/1200px-Canadian_national_logo.svg.png" class="width-40 border-round z-depth-5">
                        <h5 class="white-text lighten-4">College News</h5>
                        <p class="white-text lighten-4">Status -->Willl Release soon</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </section>