      <ul id="slide-out" class="side-nav fixed leftside-navigation">
                  <li class="no-padding">
                     <ul class="collapsible" data-collapsible="accordion">
                        <li class="bold">
                           <a class="collapsible-header waves-effect waves-cyan active">
                           <i class="material-icons">dashboard</i>
                           <span class="nav-text">Dashboard</span>
                           </a>
                           <div class="collapsible-body">
                              <ul>
                                 <li>
                                    <a onclick="opentab(event, 'tab1')"  id="defaultOpen"  class="waves-effect" >
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span>Upload Result</span>
                                    </a>
                                 </li>
                                 <li>
                                    <a  onclick="opentab(event, 'tab2')"   class="waves-effect" >
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span>Results Status</span>
                                    </a>
                                 </li>
                                 <li>
                                    <a onclick="opentab(event, 'tab3')"   class="waves-effect">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span>Exam Schedules</span>
                                    </a>
                                 </li>
                                 <li>
                                    <a onclick="opentab(event, 'tab4')"   class="waves-effect">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span>Clear Result Records</span>
                                    </a>
                                 </li>
                  
                              </ul>
                           </div>
                        </li>
                        <li class="bold">
                           <a onclick="opentab(event, 'tab6')"  class="waves-effect">
                           <i class="material-icons">mail_outline</i>
                           <span class="nav-text">Messages</span>
                           </a>
                        </li>
                    
                     </ul>
                  </li>
      
               </ul>
               <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
               <i class="material-icons">menu</i>
               </a>
