<section class="row tabcontent" id="tab3" >
  <div class="container">
            <div class="section">
            <div id="breadcrumbs-wrapper">

            <div class="container">
              <div class="row">
                <div class="col s10 m6 l6">
                  <h5 class="breadcrumbs-title">Technologies</h5>
                  <ol class="breadcrumbs">
                    <li><a href="/">Exam portal</a></li>
                   
                    <li class="active">Technologies</li>
                  </ol>
                </div>
   
              </div>
            </div>
          </div>

<div class="col s12">
   <div class="row">
      <div class="col s12 m6 l3">
         <div class="card gradient-45deg-deep-orange-orange gradient-shadow min-height-100 white-text">
            <div class="padding-4">
               <div class=" center col s12 m12 l12">
                 <i style="font-size: 100px;" class=" devicon-mongodb-plain-wordmark colored" ></i>
                  <p> DataBase</p>
               </div>
       
            </div>
         </div>
      </div>
      <div class="col s12 m6 l3">
         <div class="card gradient-45deg-blue-indigo gradient-shadow min-height-100 white-text">
            <div class="padding-4">
              <div class=" center col s12 m12 l12">
                 <i style="font-size: 100px;" class="devicon-nodejs-plain-wordmark"></i>
                  <p>Server</p>
               </div>

            </div>
         </div>
      </div>
      <div class="col s12 m6 l3">
         <div class="card gradient-45deg-purple-deep-orange gradient-shadow min-height-100 white-text">
            <div class="padding-4">
              <div class=" center col s12 m12 l12">
                 <i style="font-size: 100px;" class="devicon-express-original-wordmark   colored"></i>
                  <p>Middleware</p>
               </div>

            </div>
         </div>
      </div>
      <div class="col s12 m6 l3">
         <div class="card gradient-45deg-purple-deep-purple gradient-shadow min-height-100 white-text">
            <div class="padding-4">
              <div class=" center col s12 m12 l12">
              <img src="https://seeklogo.com/images/M/materialize-logo-0FCAD8A6F8-seeklogo.com.png" height="90px">
                  <p>Materialize CSS</p>
               </div>

            </div>
         </div>
      </div>
   </div>
</div>
</div></div>
</section>